PEOPLE YOU'VE LIKED
<button>BID ON ALL</button>
<div>
  {{#each receiverObj in controllers.application.usersByCategory.user_likes}}
    {{!-- TODO(daddy): sort these fucking photos before displaying them --}}
    {{!-- TODO(daddy): make it so you can't have two people bid on each other --}}
    {{#if receiverObj.photos}}
    <div class="home__single-result-container">
      <div class="home__biddie-image-container">
        {{dashboard-photo photoData=receiverObj.photos selectedUserObj=receiverObj
          userList=userResults userIndex=_view.contentIndex
          clickHandler='selectUser' imgClasses="home__biddie-image"
          classNames="home__biddie-image-div"}}
      </div>
      <div class="home__bid-info-container">
        {{receiverObj.first_name}} ${{receiverObj.bid_data.bid_amount}}
        <div>
          {{#each receiverObj.bid_data.times_and_places_list}}
            <div>
              Time: {{hour}}:{{minute}}{{am_or_pm}} {{date}}
            </div>
            <div>
              Place: {{place_name}}
            </div>
          {{/each}}
        </div>
        <div>
          <div {{action 'unlikeButtonPressed' receiverObj}}
                class="home-biddies__half-button home-biddies__unlike-button">
            UNLIKE
          </div>
          <div {{action 'bidButtonPressed' receiverObj}}
                class="home-biddies__half-button home-biddies__bid-button">
            BID
          </div>
        </div>
      </div>

    </div>
    {{/if}}
  {{/each}}
</div>