<div class="home__looking-for-text">
  Looking for
</div>
<div class="home__search-fields-container">
  {{view Ember.Select content=orientationSearchChoices
      value=selectedSearchOrientation
      optionValuePath="content.id"
      optionLabelPath="content.label"
      classNames="home__search-dropdown"}}

  {{view Ember.Select content=sexSearchChoices
      value=selectedSearchSex
      optionValuePath="content.id"
      optionLabelPath="content.label"
      classNames="home__search-dropdown"}}
  <div class="home__near-text">
    near
  </div>
  {{input value=searchZipCode maxlength=5 placeholder="ZIP" 
      classNames="home__zip-search"
  }}
  <div {{action 'searchWithCriteria'}} class="home__search-button">
    <div class="general__center-vertically">
      Search
    </div>
  </div>
</div>
  {{#each userResult in userResults}}
    <div class="col-md-3">
      <div class="home__single-result-container">
        {{user-preview-comp userObj=userResult userIndex=_view.contentIndex userList=userResults
            picClickHandler='selectUser' updateHook='updateBiddiesAndOffers'
            mainUser=controllers.application.user openModelModal='openModelModal'
            openModalWithMessage='openModalWithMessage' sharedFields=sharedFields}}
      </div>
    </div>
  {{/each}}
