PAST CONFIRMED DATES
<div>
  {{#each senderObj in controllers.application.usersByCategory.past_confirmed_dates}}
    {{#if senderObj.photos}}
      <div class="home__biddie-image-container">
        {{dashboard-photo photoData=senderObj.photos selectedUserObj=senderObj
          userList=userResults userIndex=_view.contentIndex
          clickHandler='selectUser' imgClasses="home__biddie-image"
          classNames="home__biddie-image-div"}}
        <div class="home__bid-info-container">
          <div>
            {{senderObj.first_name}} ${{senderObj.bid_data.bid_amount}}
          </div>
          {{#each senderObj.bid_data.times_and_places_list}}
            <div>
              Time: {{hour}}:{{minute}}{{am_or_pm}} {{date}}
            </div>
            <div>
              {{!-- TODO(daddy): show distance here instead of actual place --}}
              Place: {{place_name}}
            </div>
          {{/each}}
          <div>
            <div {{action 'acceptButtonPressed' senderObj}}
                  class="home-biddies__half-button">
              REVIEW
            </div>
          </div>
        </div>

      </div>
    {{/if}}
  {{/each}}
</div>