<div class="l-profile-input-overlay" {{action "close"}}>

{{!-- Add a spinner for when we're loading the facebook pictures --}}

</div>

<div class="l-profile-input-modal">
  <div class="text-center">
    <h4 class="l-alert-modal-title">DECIDE WHAT TO BID</h4>
    <div>
      $
      {{input value=amountToBid
          classNameBindings="bidIsValid::make-red"
          maxlength=4
          placeholder=bidBoxPlaceholder
          classNames="bid-info-modal__bid-input"
          focus-in='bidBoxFocused'
          focus-out='bidBoxUnfocused'
      }}
    </div>

    <h4 class="l-alert-modal-title">SELECT AT MOST THREE TIMES AND PLACES</h4>

    {{date-time-picker
        fieldsSet=fieldsSet1
    }}
    {{date-time-picker
        fieldsSet=fieldsSet2
    }}
    {{date-time-picker
        fieldsSet=fieldsSet3
    }}

    <div style="clear: both;">
      <button class="btn btn-lg bid-info-modal__submit-button"
        {{action "bidButtonPressed"}} {{!-- {{bind-attr disabled="bidNotReady"}} --}}>SUBMIT BID</button>
    </div>
  </div>
</div>
