<div class="col-md-offset-1 col-md-10">
  <div class="general__background">
    <div class="col-md-2" style="padding: 0;">
      <div class="col-md-offset-1 col-md-10 general__left-tab-container">
        <div {{action 'searchButtonPressed'}}
             {{bind-attr class=":general__button-tab 
                showSearch:general__selected-button-tab:"}}>
          <div {{bind-attr class=":general__button-tab-text :general__center-vertically
                    showSearch:general__selected-button-tab-text:"}}>
            Search
          </div>
        </div>
        <div {{action 'feedXButtonPressed'}}
                {{bind-attr class=":general__button-tab 
                showFeedX:general__selected-button-tab:"}}>
            <div {{bind-attr class=":general__button-tab-text :general__center-vertically
                      showFeedX:general__selected-button-tab-text:"}}>
              Deals
            </div>
            <div class="home__number-next-to-tab general__center-vertically">
              {{numNotificationsToShow}}
            </div>
        </div>
        <div {{action 'historyXButtonPressed'}} {{bind-attr class=":general__button-tab 
                showHistoryX:general__selected-button-tab:"}}>
          <div {{bind-attr class=":general__button-tab-text :general__center-vertically
                    showHistoryX:general__selected-button-tab-text:"}}>
            History
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10 general__middle-container">
      {{#if showSearch}}
        {{partial "home/home-search"}}
      {{/if}}

      {{#if showFeedX}}
        {{render 'main-feed-view' controllers.application.model}}
      {{/if}}

      {{#if showHistoryX}}
        history coming soon
      {{/if}}
    </div>
  </div>
  {{outlet}}
</div>

{{#unless controllers.application.user.has_onboarded}}
  {{#if onboardingPics}}
    {{onboarding-flow-comp allPhotos=controllers.application.user.photos
        user=controllers.application.user closeCallback='closeOnboardingPics'}}
  {{/if}}
{{/unless}}
