<div class="app__modal-overlay" {{action "close"}}>
</div>
<div class="app__modal-content-container onboarding-flow-comp__rearrange-container" style="padding-top: 2em;">
  <div class="col-md-9">
    {{dashboard-photo selectedUserObj=selectedUserObj
        clickable=false imgClasses="profile-photo-img-stuff"
        photoClass="profile-photo-class" boxClass="profile-photo-box-class"
        cycleThroughPicsOnHover=false nextPhotoBool=nextPhotoBool
        prevPhotoBool=prevPhotoBool}}

    {{!-- First row of buttons --}}
    <div class="row profile-drilldown__row">
      <div class="col-md-offset-1 col-md-2">
        <div class="profile-drilldown__clear-button" {{action 'prevProfileButtonPressed'}}>
          <div class="general__center-vertically profile-drilldown__clear-button-text">previous profile</div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="profile-drilldown__clear-button" {{action 'prevPhotoButtonPressed'}}>
          <div class="general__center-vertically profile-drilldown__clear-button-text">previous pic</div>
        </div>
      </div>
      <div class="col-md-2 profile-drilldown__text" style="padding-left: 0; padding-right: 0;">
        <div>{{selectedUserObj.first_name}} {{selectedUserObj.last_name}}</div>
        <div>
          {{#if selectedUserObj.age}}
            {{selectedUserObj.age}}, 
          {{/if}}
          New York
        </div> {{!-- TODO(daddy): We need to get the server to give this to us. --}}
      </div>
      <div class="col-md-2">
        <div class="profile-drilldown__clear-button" {{action 'nextPhotoButtonPressed'}}>
          <div class="general__center-vertically profile-drilldown__clear-button-text">next pic</div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="profile-drilldown__clear-button" {{action 'nextProfileButtonPressed'}}>
          <div class="general__center-vertically profile-drilldown__clear-button-text">next profile</div>
        </div>
      </div>
    </div>

    {{!-- Second row of buttons is split. Eigth buttons are in left group, two are
          in the right group. --}}
    <div class="row profile-drilldown__row">
      <div class="col-md-offset-1 col-md-8 profile-drilldown__ratings-container">
        <div class="col-md-3 profile-drilldown__margin-bottom">
          {{profile-rating-comp statValue=numDates iconSrc="icons/num-dates-icon.svg"}}
        </div>
        {{#if verySatisfiedNum}}
          <div class="col-md-3 profile-drilldown__margin-bottom">
            {{profile-rating-comp statValue=verySatisfiedNum
                iconSrc="icons/very-satisfied-icon.svg"}}
          </div>
        {{/if}}
        {{#if unsatisfiedDateNum}}
          <div class="col-md-3 profile-drilldown__margin-bottom">
            {{profile-rating-comp statValue=unsatisfiedDateNum
                iconSrc="icons/unsatisfied-date-icon.svg"}}
          </div>
        {{/if}}
        {{#if noShowNum}}
          <div class="col-md-3 profile-drilldown__margin-bottom">
            {{profile-rating-comp statValue=noShowNum iconSrc="icons/no-show-icon.svg"}}
          </div>
        {{/if}}
        {{#if noPayNum}}
          <div class="col-md-3 profile-drilldown__margin-bottom">
            {{profile-rating-comp statValue=noPayNum iconSrc="icons/no-pay-icon.svg"}}
          </div>
        {{/if}}
        {{#if veryComfortableNum}}
          <div class="col-md-3 profile-drilldown__margin-bottom">
            {{profile-rating-comp statValue=veryComfortableNum
                iconSrc="icons/very-comfortable-icon.svg"}}
          </div>
        {{/if}}
        {{#if uncomfortableDateNum}}
          <div class="col-md-3 profile-drilldown__margin-bottom">
            {{profile-rating-comp statValue=uncomfortableDateNum
                iconSrc="icons/uncomfortable-date-icon.svg"}}
          </div>
        {{/if}}
        {{#if differentFromPicsNum}}
          <div class="col-md-3 profile-drilldown__margin-bottom">
            {{profile-rating-comp statValue=differentFromPicsNum
                iconSrc="icons/different-from-pics-icon.svg"}}
          </div>
        {{/if}}
      </div>

      <div class="col-md-2">
        {{#if selectedUserObj.bid_data}}
          <div {{bind-attr class=':profile-drilldown__clear-button
                                  :user-preview-comp__cancel
                                  :profile-drilldown__margin-bottom'}}
                {{action 'profileDrilldownCancelBidButtonPressed'}}>
            <div class="general__center-vertically">cancel bid</div>
          </div>
        {{else}}
          {{#if selectedUserObj.poke_data}}
            <div {{bind-attr class=':profile-drilldown__clear-button
                                    :user-preview-comp__cancel
                                    :profile-drilldown__margin-bottom'}}
                  {{action 'profileDrilldownCancelAskButtonPressed'}}>
              <div class="general__center-vertically">cancel ask</div>
            </div>
          {{else}}
            <div {{bind-attr class=':profile-drilldown__clear-button
                                    :user-preview-comp__bid
                                    :profile-drilldown__margin-bottom'}}
                  {{action 'profileDrilldownBidButtonPressed' 'bid'}}>
              <div class="general__center-vertically">bid</div>
            </div>
            <div {{bind-attr class=':profile-drilldown__clear-button
                                    :user-preview-comp__ask
                                    :profile-drilldown__margin-bottom'}}
                  {{action 'profileDrilldownAskButtonPressed' 'ask'}}>
            <div class="general__center-vertically">ask</div>
          {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-md-3 profile-drilldown__info-container">
    {{#if selectedUserObj.tagline}}
      <div>
        <div class="profile-drilldown__info-label" style="display: block; text-align: center;">
          Tagline
        </div>
        <div class="profile-drilldown__info-value">
          {{selectedUserObj.tagline}}
        </div>
      </div>
    {{/if}}

    {{#if userOrientation}}
      <div>
        <div class="profile-drilldown__info-label">
          Orientation:
        </div>
        <div class="profile-drilldown__info-value">
          {{userOrientation}}
        </div>
      </div>
    {{/if}}

    {{#if userSex}}
      <div>
        <div class="profile-drilldown__info-label">
          Sex:
        </div>
        <div class="profile-drilldown__info-value">
          {{userSex}}
        </div>
      </div>
    {{/if}}

    {{#if userIvyLeague}}
      <div>
        <div class="profile-drilldown__info-label">
          Ivy League:
        </div>
        <div class="profile-drilldown__info-value">
          {{userIvyLeague}}
        </div>
      </div>
    {{/if}}

    {{#if userEthnicity}}
      <div style="text-align: center;">
        <div class="profile-drilldown__info-label" style="text-align: left; float: left;">
          Ethnicity: 
        </div>
        <div class="profile-drilldown__info-value">
          {{userEthnicity}}
        </div>
      </div>
    {{/if}}

    {{#if selectedUserObj.height_inches}}
      <div>
        <div class="profile-drilldown__info-label">
          Height: 
        </div>
        <div class="profile-drilldown__info-value">
          {{heightFeet}}' {{heightInches}}"
        </div>
      </div>
    {{/if}}
  </div>
</div>
