<div class="cards-your-pin__container">
  <div class="cards-bid-on-you__header-container cards-leave-review__color-top">
    <div class="cards-your-pin__header-text-left">
      Leave a Review for Your Biddie
    </div>
    <div class="cards-your-pin__header-text-right">
      {{receiverObj.first_name}} {{receiverObj.last_name}}
    </div>
  </div>
  <div class="cards-bid-on-you__content">
    <div class="cards-your-pin__picture">
      {{dashboard-photo selectedUserObj=receiverObj}}
    </div>
    <div class="cards-your-pin__content__text-container">
      <div class="cards-bid-on-you__times-container">
        <div class="cards-your-pin__text-snap-left" style="margin-right: 2em;">
            <div class="cards-bid-on-you__bid-label cards-leave-review__content-color">
              {{questionTextList.[0]}}
            </div>
        </div>
        <br>
        <div class="cards-your-pin__text-snap-left">
          <div class="cards-bid-on-you__bid-label cards-leave-review__content-color">
            {{questionTextList.[1]}}
          </div>
          <br>
          <div class="cards-bid-on-you__bid">
            {{utils-radio-button value=true checked=didDateShowUp}} Yes
            {{utils-radio-button value=false checked=didDateShowUp}} No
          </div>
        </div>
        <div class="cards-your-pin__text-snap-left">
          <div class="cards-bid-on-you__place-label cards-leave-review__content-color">
            {{questionTextList.[2]}}
          </div>
          <br>
          <div class="cards-bid-on-you__place-label cards-leave-review__content-color" style="font-size: 14px;">
            {{questionTextList.[5]}}
          </div>
          <br>
          <div class="cards-bid-on-you__place">
            {{utils-radio-button value=true checked=wantsToPay}} Yes
            {{utils-radio-button value=false checked=wantsToPay}} No
          </div>
        </div>
        <div class="cards-your-pin__text-snap-left">
          <div class="cards-bid-on-you__place-label cards-leave-review__content-color">
            {{questionTextList.[3]}}
          </div>
          <br>
          <div class="cards-bid-on-you__place">
            {{utils-radio-button value=true checked=didDateLookWorseThanPics}} Yes
            {{utils-radio-button value=false checked=didDateLookWorseThanPics}} No
          </div>
        </div>
        <div class="cards-your-pin__text-snap-left">
          <div class="cards-bid-on-you__place-label cards-leave-review__content-color">
            {{questionTextList.[4]}}
          </div>
          <br>
          <div class="cards-bid-on-you__place">
            {{utils-radio-button value=0 checked=biddieRating}} Unsatisfied
            {{utils-radio-button value=1 checked=biddieRating}} Satisfied
            {{utils-radio-button value=2 checked=biddieRating}} Very, very satisfied
          </div>
        </div>
      </div>
        <div class="cards-bid-on-you__accept-button cards-leave-review__color-top"
          {{action 'submitButtonPressed' receiverObj}}>
          submit
        </div>
    </div>
  </div>
</div>
{{yield}}
