<div class="cards-your-pin__container">
  <div class="cards-your-pin__header-container cards-you-poked-no-offer__color-top">
    <img class="cards-your-pin__close" src="images/cancel_button.svg" {{action 'unpinButtonPressed'}}>
    <div class="cards-your-pin__header-text-left">
      You Poked
    </div>
    <div class="cards-your-pin__header-text-right">
      {{receiverObj.first_name}} {{receiverObj.last_name}}
    </div>
  </div>
  <div class="cards-your-pin__content">
    <div class="cards-your-pin__picture">
      {{dashboard-photo selectedUserObj=receiverObj}}
    </div>
    <div class="cards-your-pin__content__text-container">
      <div class="cards-your-pin__content__header cards-you-poked-no-offer__content-color">
        Ask this user to bid on you by making a proposal
      </div>
      {{input value=sharedFields.amountToBid
        classNameBindings="bidIsValid::make-red"
        maxlength=4
        placeholder=bidBoxPlaceholder
        classNames="bid-info-modal__bid-input"
        focus-in='bidBoxFocused'
        focus-out='bidBoxUnfocused'
      }}
      <div class="cards-your-pin__content__header cards-you-poked-no-offer__content-color">
        Select a place and up to three dates and times
      </div>
      {{input value=sharedFields.placeSelected
        classNameBindings="placeIsValid::make-red"
        maxlength=50
        placeholder='Where do you want to meet?'
        classNames="bid-info-modal__place-input"
      }}
      {{#if showDateTimePickers}}
        {{date-time-picker fieldsSet=fieldsSet1}}
        {{date-time-picker fieldsSet=fieldsSet2}}
        {{date-time-picker fieldsSet=fieldsSet3}}
      {{else}}
        <div class="cards-your-pin__dates-and-times-button cards-you-poked-no-offer__color-top"
              {{action 'addDatesAndTimes'}}>
          <div class="cards-your-pin__plus">+</div>
          <div style="display: inline-block;">add dates and times</div>
        </div>
      {{/if}}
      <div {{action "proposeButtonPressed"}} class="cards-your-pin__bid-button cards-you-poked-no-offer__color-top">
        propose date
      </div>
    </div>
  </div>
</div>
{{yield}}