<div class="cards-your-pin__container">
  <div class="cards-bid-on-you__header-container">
    <img class="cards-your-pin__close" src="images/cancel_button.svg" {{action 'cancelBidButtonPressed'}}>
    <div class="cards-your-pin__header-text-left">
      Offer to Meet Up
    </div>
    <div class="cards-your-pin__header-text-right">
      {{receiverObj.first_name}} {{receiverObj.last_name}}
    </div>
  </div>
  <div class="cards-bid-on-you__content">
    <div class="cards-your-pin__picture">
      {{dashboard-photo selectedUserObj=receiverObj}}
    </div>
    <div class="cards-your-pin__content__text-container">
      <div class="cards-bid-on-you__times-container">
        <div style="text-align: left;">
          <div class="cards-bid-on-you__bid-label">
            Amount: 
          </div>
          <div class="cards-bid-on-you__bid">
            ${{receiverObj.bid_data.bid_amount}}
          </div>
        </div>
        <div style="text-align: left;">
          <div class="cards-bid-on-you__place-label">
            Where: 
          </div>
          <div class="cards-bid-on-you__place">
            {{receiverObj.bid_data.times_and_places_list.0.place_name}}
          </div>
        </div>
        <div style="text-align: left;">
          <div class="cards-bid-on-you__place-label">
            How long:
          </div>
          <div class="cards-bid-on-you__place">
            {{timesAndPlaces.0.duration}}
          </div>
        </div>
        <div class="cards-bid-on-you__time-label">
            Choose a possible time:
        </div>
        {{#each timesAndPlaces}}
          <div class="cards-bid-on-you__time" style="display: block;">
            <div class="cards-bid-on-you__accept-button"
                {{action 'acceptOfferButtonPressed' index}}>
                accept
            </div>
            {{weekday}} {{month}}/{{day}} at {{hour}}:{{minute}}{{amOrPm}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{yield}}
