<div {{bind-attr class="iconClass"}}>
  <img {{bind-attr src="iconSrc"}} class="profile-rating-comp__icon general__center-vertically">
</div>
<div {{bind-attr class="fontClass"}}>
  {{statValue}}
</div>
{{yield}}
